INSTANCE=
BASE_URL=

DISCUSSION_DATABASE_URL=
DISCUSSION_DB_SCHEMA=

CHALLENGE_DATABASE_URL=
CHALLENGE_DB_SCHEMA=

KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_AUDIENCE=
KEYCLOAK_ISSUER=

DISCUSSION_AWS_S3_BUCKET=
CHALLENGE_AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

REDIS_URL=

ACTIVATED_SERVICES=
